openapi: 3.2.0
info:
  title: MessageBird Voice Calling Transcriptions API
  description: The MessageBird Voice Calling API enables developers to make, receive, and control phone calls programmatically. It supports call flows for building interactive voice response systems, call recording, call transfers, and real-time webhooks for call events. The API provides global coverage and can be used to build contact center solutions, automated calling systems, and voice-enabled applications.
  version: '1.0'
  contact:
    name: MessageBird Support
    url: https://support.messagebird.com
  termsOfService: https://www.messagebird.com/en/terms
servers:
- url: https://voice.messagebird.com
  description: Production Server
security:
- accessKey: []
tags:
- name: Transcriptions
  description: Operations for creating and viewing transcriptions of call recordings.
paths:
  /recordings/{recordingId}/transcriptions:
    get:
      operationId: listTranscriptions
      summary: List transcriptions for a recording
      description: Retrieves all transcriptions associated with a specific recording.
      tags:
      - Transcriptions
      parameters:
      - $ref: '#/components/parameters/recordingIdParam'
      responses:
        '200':
          description: A list of transcriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptionList'
        '401':
          description: Unauthorized
        '404':
          description: Recording not found
    post:
      operationId: createTranscription
      summary: Create a transcription
      description: Creates a new transcription request for a recording. Transcriptions are generated asynchronously.
      tags:
      - Transcriptions
      parameters:
      - $ref: '#/components/parameters/recordingIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranscriptionCreate'
      responses:
        '201':
          description: Transcription request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptionResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Recording not found
components:
  schemas:
    TranscriptionCreate:
      type: object
      properties:
        language:
          type: string
          description: The language of the recording for transcription.
    Transcription:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the transcription.
        recordingId:
          type: string
          description: The unique identifier of the recording.
        status:
          type: string
          description: The status of the transcription.
          enum:
          - created
          - transcribing
          - done
          - failed
        createdAt:
          type: string
          format: date-time
          description: The date and time when the transcription was created.
        updatedAt:
          type: string
          format: date-time
          description: The date and time when the transcription was last updated.
    Pagination:
      type: object
      properties:
        totalCount:
          type: integer
          description: The total number of items available.
        pageCount:
          type: integer
          description: The total number of pages.
        currentPage:
          type: integer
          description: The current page number.
        perPage:
          type: integer
          description: The number of items per page.
    TranscriptionResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Transcription'
    TranscriptionList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Transcription'
        pagination:
          $ref: '#/components/schemas/Pagination'
  parameters:
    recordingIdParam:
      name: recordingId
      in: path
      required: true
      description: The unique identifier of the recording.
      schema:
        type: string
  securitySchemes:
    accessKey:
      type: apiKey
      in: header
      name: Authorization
      description: Access key authentication in the form of 'AccessKey {accessKey}'.
externalDocs:
  description: Voice Calling API Documentation
  url: https://developers.messagebird.com/api/voice-calling/
